.block-editor-media-placeholder__url-input-form {
	min-width: 260px;

	@include break-small() {
		width: 300px;
	}

	input {
		// Targeting input as we're using text instead of URLs for relative paths.
		/* rtl:ignore */
		direction: ltr;
	}
}
