@use "@wordpress/base-styles/default-custom-properties";
@use "@wordpress/base-styles/mixins" as *;
@use "./autocompleters/style.scss" as *;
@use "./components/background-image-control/style.scss" as *;
@use "./components/block-alignment-control/style.scss" as *;
@use "./components/block-canvas/style.scss" as *;
@use "./components/block-icon/style.scss" as *;
@use "./components/block-inspector/style.scss" as *;
@use "./components/block-tools/style.scss" as *;
@use "./components/block-lock/style.scss" as *;
@use "./components/block-allowed-blocks/style.scss" as *;
@use "./components/block-breadcrumb/style.scss" as *;
@use "./components/block-card/style.scss" as *;
@use "./components/block-compare/style.scss" as *;
@use "./components/block-draggable/style.scss" as *;
@use "./components/block-manager/style.scss" as *;
@use "./components/block-mover/style.scss" as *;
@use "./components/block-navigation/style.scss" as *;
@use "./components/block-patterns-list/style.scss" as *;
@use "./components/block-patterns-paging/style.scss" as *;
@use "./components/block-popover/style.scss" as *;
@use "./components/block-preview/style.scss" as *;
@use "./components/block-rename/style.scss" as *;
@use "./components/block-styles/style.scss" as *;
@use "./components/block-switcher/style.scss" as *;
@use "./components/block-types-list/style.scss" as *;
@use "./components/block-pattern-setup/style.scss" as *;
@use "./components/block-variation-transforms/style.scss" as *;
@use "./components/border-radius-control/style.scss" as *;
@use "./components/colors-gradients/style.scss" as *;
@use "./components/date-format-picker/style.scss" as *;
@use "./components/duotone-control/style.scss" as *;
@use "./components/font-appearance-control/style.scss" as *;
@use "./components/font-family/style.scss" as *;
@use "./components/global-styles/style.scss" as *;
@use "./components/grid/style.scss" as *;
@use "./components/height-control/style.scss" as *;
@use "./components/iframe/style.scss" as *;
@use "./components/inserter-list-item/style.scss" as *;
@use "./components/inspector-controls-tabs/style.scss" as *;
@use "./components/inspector-popover-header/style.scss" as *;
@use "./components/justify-content-control/style.scss" as *;
@use "./components/link-control/style.scss" as *;
@use "./components/list-view/style.scss" as *;
@use "./components/media-placeholder/style.scss" as *;
@use "./components/media-replace-flow/style.scss" as *;
@use "./components/multi-selection-inspector/style.scss" as *;
@use "./components/responsive-block-control/style.scss" as *;
@use "./components/rich-text/style.scss" as *;
@use "./components/skip-to-selected-block/style.scss" as *;
@use "./components/tabbed-sidebar/style.scss" as *;
@use "./components/url-input/style.scss" as *;
@use "./components/url-popover/style.scss" as *;
@use "./hooks/block-hooks.scss" as *;
@use "./hooks/block-bindings.scss" as *;
@use "./hooks/border.scss" as *;
@use "./hooks/color.scss" as *;
@use "./hooks/dimensions.scss" as *;
@use "./hooks/layout.scss" as *;
@use "./hooks/spacing.scss" as *;
@use "./hooks/typography.scss" as *;

@use "./components/block-toolbar/style.scss" as *;
@use "./components/inserter/style.scss" as *;
@use "./components/spacing-sizes-control/style.scss" as *;

@include wordpress-admin-schemes();
