@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.edit-site-sidebar-dataviews {
	margin-left: -$grid-unit-20;
	margin-right: -$grid-unit-20;
}

.edit-site-sidebar-dataviews-dataview-item {
	border-radius: $radius-small;

	&:hover,
	&:focus,
	&[aria-current] {
		color: $gray-200;
	}

	&.is-selected {
		background: $gray-800;
		font-weight: $font-weight-medium;
		color: $white;
	}
}
