@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables" as *;

.interface-interface-skeleton__sidebar:has(.editor-collab-sidebar) {
	box-shadow: none;

	.interface-complementary-area-header {
		display: none;
	}
}

.editor-collab-sidebar {
	height: 100%;
	overflow: hidden;
}

.editor-collab-sidebar-panel {
	padding: $grid-unit-20;
	height: 100%;
	overflow: hidden;
}

.editor-collab-sidebar-panel__thread {
	position: relative;
	padding: $grid-unit-20;
	border-radius: $radius-large;
	border: $border-width solid $gray-300;
	background-color: $gray-100;
	overflow: hidden;
	width: auto;

	&.is-selected {
		background-color: $white;
		box-shadow: $elevation-medium;
	}

	&:focus {
		outline: var(--wp-admin-border-width-focus) solid var(--wp-admin-theme-color);
		outline-offset: calc((-1 * var(--wp-admin-border-width-focus)));
	}

	&.is-floating {
		left: $grid-unit-20;
		right: $grid-unit-20;
		position: absolute;
		margin-top: $grid-unit-20;
	}
}

.editor-collab-sidebar-panel__user-name {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: $gray-700;
	text-transform: capitalize;
}

.editor-collab-sidebar-panel__user-time {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: $gray-700;
}

.editor-collab-sidebar-panel__user-comment {
	p:last-child {
		margin-bottom: 0;
	}
}

.editor-collab-sidebar-panel__user-avatar {
	border-radius: $radius-round;
	flex-shrink: 0;
	border-width: var(--wp-admin-border-width-focus);
	border-style: solid;
	padding: var(--wp-admin-border-width-focus);
}

.editor-collab-sidebar-panel__comment-status {
	margin-left: auto;

	button {
		&.has-icon:not(.has-text) {
			min-width: 24px;
			padding: 0;
			width: 24px;
			height: 24px;
			flex-shrink: 0;
		}
	}
}

.editor-collab-sidebar-panel__comment-dropdown-menu {
	flex-shrink: 0;
}

.editor-collab-sidebar-panel__more-reply-separator {
	&::before,
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: $gray-300;
		flex: 1;
	}
}

.editor-collab-sidebar-panel__more-reply-button {
	font-weight: 500;
}

.editor-collab-sidebar-panel__resolution-text {
	font-style: italic;
}

.editor-collab-sidebar-panel__comment-form textarea {
	@include input-control;
	// Vertical padding is to match the standard 40px control height when rows=1,
	// in conjunction with the 20px line-height.
	// "Standard" metrics are 10px 12px, but subtracts 1px each to account for the border width.
	padding: 9px 11px;
	line-height: 20px !important;
	display: block;
}

// Visually hidden until focused (skip link pattern)
.editor-collab-sidebar-panel__skip-to-comment,
.editor-collab-sidebar-panel__skip-to-block {
	position: absolute;
	top: -9999px;
	right: -9999px;
	overflow: hidden;
	clip-path: inset(50%);
	background: $white !important;
	z-index: -1;

	&:focus {
		overflow: visible;
		clip-path: none;
		z-index: 1;
		right: $grid-unit-10;
	}
}
.editor-collab-sidebar-panel__skip-to-comment:focus {
	top: $grid-unit-10;
}
.editor-collab-sidebar-panel__skip-to-block:focus {
	top: auto;
	bottom: $grid-unit-10;
}

// Comment avatar indicators.
.comment-avatar-indicator {
	position: relative;
	padding: 4px;
	min-width: auto;
	background: transparent;
	border: none;

	&:hover::before {
		background: rgba(0, 0, 0, 0.04);
	}

	&.has-unresolved {
		.comment-avatar-stack {
			&::after {
				content: "";
				position: absolute;
				top: -2px;
				right: -2px;
				width: $grid-unit-10;
				height: $grid-unit-10;
				background: #d63638;
				border-radius: $radius-round;
				border: $border-width solid $white;
				z-index: 10;
			}
		}
	}
}

.comment-avatar-stack {
	display: flex;
	align-items: center;
	position: relative;
	height: $icon-size;
}

.comment-avatar {
	width: $icon-size;
	height: $icon-size;
	border-radius: $radius-round;
	border: 2px solid $white;
	margin-left: -6px;
	flex-shrink: 0;

	&:first-child {
		margin-left: 0;
		border-color: #de6e55;
	}

	&:nth-child(2) {
		border-color: #599637;
	}

	&:nth-child(3) {
		border-color: #3858e9;
	}
}

.comment-avatar-overflow {
	width: fit-content;
	height: $icon-size;
	border-radius: 4rem;
	padding: 0 4px;
	background: #757575;
	color: $white;
	border: 2px solid $white;
	margin-left: -6px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: 600;
	flex-shrink: 0;
}
