@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/mixins" as *;
@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/z-index" as *;

.dataviews-view-table {
	width: 100%;
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
	position: relative;
	color: $gray-700;
	margin-bottom: auto;

	th {
		text-align: left;
		color: $gray-900;
		font-weight: normal;
		font-size: $default-font-size;
	}
	td,
	th {
		padding: $grid-unit-15;

		&.dataviews-view-table__actions-column {
			text-align: right;
		}

		&.dataviews-view-table__actions-column--sticky {
			position: sticky;
			right: 0;
			background-color: $white;
		}

		&.dataviews-view-table__actions-column--stuck {
			&::after {
				display: block;
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 1px;
				background-color: $gray-100;
			}
		}

		&.dataviews-view-table__checkbox-column {
			padding-right: 0;
			width: 1%;

			.dataviews-view-table__cell-content-wrapper {
				max-width: auto;
				min-width: auto;
			}
		}
	}
	tr {
		border-top: 1px solid $gray-100;

		.dataviews-view-table-header-button {
			gap: $grid-unit-05;
		}

		td:first-child,
		th:first-child {
			padding-left: $grid-unit-60;

			.dataviews-view-table-header-button {
				margin-left: - #{$grid-unit-10};
			}
		}

		td:last-child,
		th:last-child {
			padding-right: $grid-unit-60;
		}

		&:last-child {
			border-bottom: 0;
		}

		&.is-hovered,
		&.is-hovered .dataviews-view-table__actions-column--sticky {
			background-color: #f8f8f8;
		}

		.components-checkbox-control__input.components-checkbox-control__input {
			opacity: 0;

			&:checked,
			&:indeterminate,
			&:focus {
				opacity: 1;
			}
		}

		.dataviews-item-actions .components-button:not(.dataviews-all-actions-button) {
			opacity: 0;
		}

		&:focus-within,
		&.is-hovered,
		&:hover {
			.components-checkbox-control__input,
			.dataviews-item-actions .components-button:not(.dataviews-all-actions-button) {
				opacity: 1;
			}
		}

		@media (hover: none) {
			// Show checkboxes and quick-actions on devices that do not support hover.
			.components-checkbox-control__input.components-checkbox-control__input,
			.dataviews-item-actions .components-button:not(.dataviews-all-actions-button) {
				opacity: 1;
			}
		}

		&.is-selected {
			background-color: rgba(var(--wp-admin-theme-color--rgb), 0.04);
			color: $gray-700;

			&,
			& + tr {
				border-top: 1px solid rgba(var(--wp-admin-theme-color--rgb), 0.12);
			}

			&:hover {
				background-color: rgba(var(--wp-admin-theme-color--rgb), 0.08);
			}

			.dataviews-view-table__actions-column--sticky {
				background-color: color-mix(in srgb, rgb(var(--wp-admin-theme-color--rgb)) 4%, $white);
			}

			&:hover .dataviews-view-table__actions-column--sticky {
				background-color: color-mix(in srgb, rgb(var(--wp-admin-theme-color--rgb)) 8%, $white);
			}
		}
	}
	thead {
		position: sticky;
		inset-block-start: 0;
		z-index: z-index(".dataviews-view-table thead");

		tr {
			border: 0;
			// Header select all checkbox should always be visible.
			.components-checkbox-control__input.components-checkbox-control__input {
				opacity: 1;
			}
		}
		th {
			background-color: $white;
			padding-top: $grid-unit-10;
			padding-bottom: $grid-unit-10;
			padding-left: $grid-unit-15;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: $font-weight-medium;

			&:has(.dataviews-view-table-header-button):not(:first-child) {
				padding-left: $grid-unit-05;
			}
		}
	}
	tbody {
		td {
			vertical-align: top;
		}
		.dataviews-view-table__cell-content-wrapper {
			min-height: $grid-unit-40;
			display: flex;
			align-items: center;

			&.dataviews-view-table__cell-align-end {
				justify-content: flex-end;
			}

			&.dataviews-view-table__cell-align-center {
				justify-content: center;
			}
		}

		.components-v-stack > .dataviews-view-table__cell-content-wrapper:not(:first-child) {
			min-height: 0;
		}
	}
	.dataviews-view-table-header-button {
		padding: $grid-unit-05 $grid-unit-10;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: $font-weight-medium;

		&:not(:hover) {
			color: $gray-900;
		}

		span {
			speak: none;

			&:empty {
				display: none;
			}
		}
	}

	.dataviews-view-table-header {
		padding-left: $grid-unit-05;
	}

	.dataviews-view-table__actions-column {
		width: auto;
		white-space: nowrap;
	}

	&:has(tr.is-selected) {
		.components-checkbox-control__input {
			opacity: 1;
		}
	}

	// Density style overrides.
	&.has-compact-density {
		thead {
			th {
				&:has(.dataviews-view-table-header-button):not(:first-child) {
					padding-left: 0;
				}
			}
		}
		td,
		th {
			padding: $grid-unit-05 $grid-unit-10;
		}
	}

	&.has-comfortable-density {
		td,
		th {
			padding: $grid-unit-20 $grid-unit-15;
		}
	}

	&.has-compact-density,
	&.has-comfortable-density {
		td,
		th {
			&.dataviews-view-table__checkbox-column {
				padding-right: 0;
			}
		}
	}
}

@container (max-width: 430px) {
	.dataviews-view-table tr td:first-child,
	.dataviews-view-table tr th:first-child {
		padding-left: $grid-unit-30;
	}

	.dataviews-view-table tr td:last-child,
	.dataviews-view-table tr th:last-child {
		padding-right: $grid-unit-30;
	}
}

.dataviews-view-table-selection-checkbox {
	--checkbox-input-size: 24px;
	@include break-small() {
		--checkbox-input-size: 16px;
	}
}

.dataviews-column-primary__media {
	max-width: 60px;
	overflow: hidden;
	position: relative;
	flex-shrink: 0;
	background-color: $white;
	border-radius: $radius-medium;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 0 $border-width rgba(0, 0, 0, 0.1);
		border-radius: $radius-medium;
	}
}

.dataviews-view-table__cell-content-wrapper,
.dataviews-view-table__primary-column-content {
	&:not(.dataviews-column-primary__media) {
		min-width: 15ch;
		max-width: 80ch;
	}
}

.dataviews-view-table__group-header-row {
	.dataviews-view-table__group-header-cell {
		font-weight: $font-weight-medium;
		padding: $grid-unit-15 $grid-unit-60;
		color: $gray-900;
	}
}
