@use "@wordpress/base-styles/variables" as *;

// For mobile viewports:
// - align bulk selection checkbox to the left.
// - align footer actions to the right.
.dataviews-picker-footer__bulk-selection {
	align-self: flex-start;
	height: $grid-unit-40;
}
.dataviews-picker-footer__actions {
	align-self: flex-end;
}
