@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.edit-site-post-edit {
	padding: $grid-unit-30;
}

.dataforms-layouts-panel__field-dropdown {
	.fields-controls__password {
		border-top: $border-width solid $gray-200;
		padding-top: $grid-unit-20;
	}
}
