name: Static Analysis (Linting, License, Type checks...)

on:
    pull_request:
    push:
        branches:
            - trunk
            - 'release/**'
            - 'wp/**'

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

# Disable permissions for all available scopes by default.
# Any needed permissions should be configured at the job level.
permissions: {}

jobs:
    check:
        name: All
        runs-on: 'ubuntu-24.04'
        permissions:
            contents: read
        if: ${{ github.repository == 'WordPress/gutenberg' || github.event_name == 'pull_request' }}

        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  show-progress: ${{ runner.debug == '1' && 'true' || 'false' }}
                  persist-credentials: false

            - name: Use desired version of Node.js
              uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
              with:
                  node-version-file: '.nvmrc'
                  check-latest: true
                  cache: npm

            - name: Npm install
              # A "full" install is executed, since `npm ci` does not always exit
              # with an error status code if the lock file is inaccurate. This also
              # helps to catch dependencies not being installed with exact version.
              #
              # See: https://github.com/WordPress/gutenberg/issues/16157
              # See: https://github.com/WordPress/gutenberg/pull/39865
              run: npm install

            - name: Lint JavaScript and Styles
              run: npm run lint

            - name: Type checking
              run: npm run build:package-types

            - name: Check local changes
              run: npm run other:check-local-changes

            - name: License compatibility
              run: npm run other:check-licenses
